.d-flex{
    display: flex;
}

/*//////////////////////////////////////////////////*/
.header_upper_logo>h1{
    font-size: 27px ;
    font-weight: 700;
    margin-left: 10px;
}

.header_upper_top{
    margin-top: 40px;
    justify-content: space-between;
}

.text_input{
    padding: 17px 311px 15px 23px;
    background: #F0F5F5;
    border-radius: 50px;
}
.form_header{
    position: relative;
    margin-right: 30px;
}
.btn_top{
     position: absolute;
    right: 20px;
    top: 13px;
}

.upper_bottom_titles>h2{
    font-weight: bold;
}
.upper_bottom_titles{
    display: flex;

}

.header_upper_bottom{
    justify-content: space-between;
    padding: 48px 0 17px 0;
}
.upper_bottom_titles::after{
    content: '';
    background-image:url('../Header/imgs/Shape 10 copy 2@1X.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 12px;
    padding: 0 15px 0 0 ;
}

